{% extends 'template.html' %}

{% block content %}
<div class="buttons">
  <div class="secondary-header">
    <a href ="#">Stats</a>
    <a href = "special.html">Special</a>
    <a href = "perks.html">Perks</a>
  </div>
</div>

{% for user in users %}
<div style="text-align: center; padding-top: 20px;"> <a>{{ user.name }} </a> </div>
{% endfor %}
<div id ="content">
<div class="image-container">
  <img src="{{ url_for('static', filename='character.gif') }}" alt="pipBoy">
</div>
</div>
{% endblock %}