<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>main</title>
</head>
<body>
  <div class="head">
    <button onclick="changeHtml('map')">Map</button>
    <button onclick="changeHtml('inv')">Inv</button>
  </div>
  <div class="content" id="content">

  </div>
  <div class="footer">This is a footer thay doesnt move</div>

  <script>
    function changeHtml(page){
      var xhr = new XMLHttpRequest();
      xhr.open('GET', page + ".html", true);
      xhr.onreadystatechange= function() {
      if (this.readyState!==4) return;
      if (this.status!==200) return;
        document.getElementById('content').innerHTML= this.responseText;
      };
       xhr.send();
    }
    
  </script>
</body>
</html>