@font-face {
    font-family: 'Monofonto';
    src: url('monofonto.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    max-width:100vw;
    height: 95vh; 
    overflow-x: hidden;
    background-color: #000;
    font-family: 'Monofonto', Courier, monospace;
    color: #00FF00;
    bottom: 0;
    left: 0;
    margin: 0;
}

#scan{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  pointer-events: none;
  opacity: 50%;
}
.container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.specialcontainer{
  flex: 1;
  padding: 20px;
  overflow-y: hidden;
}
.column {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  padding-bottom: 15px;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid #00FF00;
}

.current-page {
    color: #00FF00 !important;
}

.image-container {
    text-align: center; /* Center the image horizontally */
    padding: 50px;
    overflow-y: hidden;
}

.image-container2 {
  justify-content: center;
  text-align: center; /* Center the image horizontally */
  overflow-y: hidden;

}

#pipBoyText {
  text-align: center; /* Center the text horizontally */
}

#pipBoyImage {
  max-height: 200px;
}

.image-container img {
  max-height: 250px;
    margin: 0 auto;
}

.stat-container{
  display: inline-flex;
  justify-content: space-between;
  color: #00FF00;
  padding: 8px;
}
.stat-container:hover {
  background-color: #274e02;
}
.stat-container a {
  text-decoration: none;
  color: #00FF00;
}
[data-active="True"] {
  background-color: #274e02;
}

.video {
    max-width: 100%;
    max-height: 100%;
}

.heading, .buttons a {
    color: #018601; /* Green text color */
    border: none;
    cursor: pointer;
    font-family: 'Monofonto', Courier, monospace;
    font-size: 18px; /* Larger font size for the header */
    text-decoration: none; /* Remove underline */
    background-color: transparent; /* Remove background color */
    margin-right: 20px; /* Add margin between buttons */
}

.buttons button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.secondary-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

#map {
  height: 86%;
  width: 100%;
}

.vbuttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #00FF00;
}

.image-container2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.vbuttons a{
    display: block;
    padding: 1px;
    text-decoration: none;
    color: #00FF00;
}

.vbuttons a:active{
  background-color: #274e02;
}

.vbuttons a:focus{
  background-color: #274e02;
}

.footer {
  padding-top: 5px;
  justify-content: space-around;
  position: absolute;
  bottom:0px;
  background-color: #000;
  text-align: center;
  width: calc(100% + 5px);
  display:flex;
  gap: 5px;
  height: 40px;
  }

.hp{
    width: 25%;
    font-size: 18px; 
    background-color: #418105;
    color: #7fff08;
  }
  
  .lvl{
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: #418105;
    color: #7fff08;
  }
  
  .ap{
    width: 25%;
    background-color: #418105;
    color: #7fff08;
  }

  .loadingbar{
    height:100%;
    width: 250px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
  }

  .bar{
    border: 2px solid #00FF00;
    height:50%;
    width: 100%;
  }

  .startup{
    height: 95vh;
    width:auto;
  }
