{% extends 'template.html' %}

{% block content %}
<div class="container">
    <div class="column container" style="text-align: center; display: inline-flex; justify-content: center; align-items: center; flex: 0.5;">
        <div style=" font-size: 30px;">
            <div class ="datebox">
                <a id = "date"></a>
            </div>
            <div class ="datebox">
                <a id = "day"></a>
    </div>
    </div>
    </div>
<div class="column container" style = "font-size:150px; display: flex; flex-direction: column; text-align: center;">
    <a id="hours" style="border-bottom: 5px solid green !important; "></a>
    <a id="minutes"></a>
</div>

<div class="column container" style="text-align: center; display: inline-flex; justify-content: center; align-items: center; flex: 0.5;">
    <div style="gap: 20px; font-size: 30px;">
        <div class ="datebox">
            <a id = "month"></a>
        </div>
        <div class ="datebox">
            <a id = "year"></a>
        </div>
    </div>
</div>

<div class="column container" style ="text-align: center; display: inline-flex; flex-direction: column;align-items: center; flex: 1.5; justify-content: center;"  >
    <img src="{{ url_for('static', filename='/statimages/specialimages/greencharisma.gif') }}" alt="pipBoy"style="height: 300px; padding: 0px;">
    </div>
</div>
  </div>
</div>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var month = now.toLocaleString("default", { month: "short" });
        var wday = now.toLocaleDateString("default", { weekday: "short" }); // Full day name
        var day = now.getDate();
        var year = now.getFullYear();

        var month = month.toUpperCase();
        var wday = wday.toUpperCase();

        // Ensure two-digit formatting
        if (hours < 10) hours = '0' + hours;
        if (minutes < 10) minutes = '0' + minutes;

        document.getElementById('hours').textContent = hours;
        document.getElementById('minutes').textContent = minutes;
        document.getElementById('date').textContent = day;
        document.getElementById('day').textContent = wday;
        document.getElementById('month').textContent = month;
        document.getElementById('year').textContent = year;
    }

    // Update the clock every minute
    setInterval(updateClock, 1000);

    // Initial call to display clock immediately
    updateClock();
</script>
{% endblock %}