{% extends 'template.html' %}

{% block content %}
<div class="buttons">
  <div class="secondary-header">
    <a href = "stats.html">Stats</a>
    <a href = "special.html">Special</a>
    <a href="#">Perks</a>
  </div>
</div>

<div class=" column container">
  <div class="column vbuttons">
    {% for perk in perks %}
    <div class="stat-container" data-active="False" id= "{{ perk.name }}"><a href="#">{{ perk.name }}</a> <span class="stat-number" style="float: right;">{{ perk.level }}</span>
    </div>
    {% endfor %}
  </div>

  <div class="specialcontainer">
    <div class = image-container2>
      <img id="pipBoyImage" src="{{ url_for('static', filename='/statimages/perkimages/greenironfist.gif') }}" alt="pipBoy">
    </div>
    <p id="pipBoyText">Channel your chi to unleash devastating fury!</p> 
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var buttonElements = document.querySelectorAll(".stat-container a");
    var pipBoyImage = document.getElementById("pipBoyImage");

  function updateImage(button) {
    var buttonText = button.textContent.toLowerCase();
    console.log(buttonText)
    const elements = document.querySelector('[data-active="True"]')
    if (elements) {
    elements.setAttribute('data-active', 'False');
} else {
    ;
}
    switch (buttonText) {
      case "iron fist":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/greenironfist.gif') }}";
        pipBoyText.textContent = "Channel your chi to unleash devastating fury!";
        document.getElementById('Iron Fist').setAttribute('data-active','True');
        break;
      case "big leagues":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/greenbigleagues.gif') }}";
        pipBoyText.textContent = "Swing for the fences!";
        document.getElementById('Big Leagues').setAttribute('data-active','True');
        break;
      case "armorer":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Armorer.gif') }}";
        pipBoyText.textContent = "Protect yourself from the dangers of the Wasteland with access to base level and armor mods.";
        document.getElementById('Armorer').setAttribute('data-active','True');
        break;
      case "blacksmith":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/blacksmith.gif') }}";
        pipBoyText.textContent = "Fire up the forge and gain access to base level and melee weapon mods.";
        document.getElementById('Blacksmith').setAttribute('data-active','True');
        break;
      case "strong back":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/greenstrongback.gif') }}";
        pipBoyText.textContent = "What are you, part pack mule?";
        document.getElementById('Strong Back').setAttribute('data-active','True');
        break; 
      case "heavy gunner":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Heavy_Gunner.gif') }}";
        pipBoyText.textContent = "Thanks to practice and conditioning, heavy guns do more damage.";
        document.getElementById('Heavy Gunner').setAttribute('data-active','True');
        break;
      case "steady aim":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/steadyaim.gif') }}";
        pipBoyText.textContent = "Stay on target! Hip-fire accuracy is improved when firing any gun.";
        document.getElementById('Steady Aim').setAttribute('data-active','True');
        break;  
      case "basher":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Basher.gif') }}";
        pipBoyText.textContent = "Get up close and personal!";
        document.getElementById('Basher').setAttribute('data-active','True');
        break;
      case "rooted":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Basher.gif') }}";
        pipBoyText.textContent = "You're part tree!";
        document.getElementById('Rooted').setAttribute('data-active','True');
        break;   
      case "pain train":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Basher.gif') }}";
        pipBoyText.textContent = "Choo Choo! All aboard! While wearing Power Armor, sprinting into enemies hurts and staggers them.";
        document.getElementById('Pain Train').setAttribute('data-active','True');
        break;
      case "pickpocket":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Basher.gif') }}";
        pipBoyText.textContent = "Your quick hands and sticky fingers make picking pockets easier.";
        document.getElementById('Pickpocket').setAttribute('data-active','True');
        break;  
      case "rifleman":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/rifleman.gif') }}";
        pipBoyText.textContent = "Keep your distance long and your kill-count high.";
        document.getElementById('Rifleman').setAttribute('data-active','True');
        break;
      case "awareness":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Awareness.gif') }}";
        pipBoyText.textContent = "To defeat your enemies, know their weaknesses! ";
        document.getElementById('Awareness').setAttribute('data-active','True');
        break;  
      case "locksmith":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/locksmith.gif') }}";
        pipBoyText.textContent = "Your nimble fingers allow you to pick Advanced locks.";
        document.getElementById('Locksmith').setAttribute('data-active','True');
        break;
      case "demolition expert":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Demolition_Expert.gif') }}";
        pipBoyText.textContent = "The bigger the boom, the better! ";
        document.getElementById('Demolition Expert').setAttribute('data-active','True');
        break;  
      case "night person":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Night_Person.gif') }}";
        pipBoyText.textContent = "You are a creature of the night!";
        document.getElementById('Night Person').setAttribute('data-active','True');
        break;
      case "refractor":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Refractor.gif') }}";
        pipBoyText.textContent = "You must be part mirror!";
        document.getElementById('Refractor').setAttribute('data-active','True');
        break;  
      case "sniper":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sniper.gif') }}";
        pipBoyText.textContent = "It's all about focus. You have improved control and can hold your breath longer when aiming with scopes.";
        document.getElementById('Sniper').setAttribute('data-active','True');
        break;
      case "penetrator":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Demolition_Expert.gif') }}";
        pipBoyText.textContent = "There's no place to hide! In V.A.T.S you can target an enemy's body parts that are blocked by cover, with a decrease in accuracy.";
        document.getElementById('Penetrator').setAttribute('data-active','True');
        break;  
      case "concentrated fire":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Concentrated_Fire.gif') }}";
        pipBoyText.textContent = "Stay Focused! In V.A.T.S every attack on the same body part gains accuracy";
        document.getElementById('Concentrated Fire').setAttribute('data-active','True');
        break;
      case "toughness":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sniper.gif') }}";
        pipBoyText.textContent = "If nothing else, you can take a beating!";
        document.getElementById('Toughness').setAttribute('data-active','True');
        break;
      case "lead belly":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Lead_Belly.gif') }}";
        pipBoyText.textContent = "Your digestive tract has adjusted to the weirdness of the Wasteland!";
        document.getElementById('Lead Belly').setAttribute('data-active','True');
        break;  
      case "life giver":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Life_Giver.gif') }}";
        pipBoyText.textContent = "You embody wellness! ";
        document.getElementById('Life Giver').setAttribute('data-active','True');
        break;
      case "chem resistant":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Chem_Resistant.gif') }}";
        pipBoyText.textContent = "All the rush without the hassle!";
        document.getElementById('Chem Resistant').setAttribute('data-active','True');
        break;
      case "aquagirl":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Lead_Belly.gif') }}";
        pipBoyText.textContent = "Water is your ally. You no longer take radiation damage from swimming, and can breathe underwater.";
        document.getElementById('Aqua Girl').setAttribute('data-active','True');
        break;  
      case "rad resistant":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Rad_Resistant.gif') }}";
        pipBoyText.textContent = "Exposure to the Wasteland has made you more resilient, instantly granting Radiation Resistance.";
        document.getElementById('Rad Resistant').setAttribute('data-active','True');
        break;
      case "adamantium skeleton":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Adamantium_Skeleton.gif') }}";
        pipBoyText.textContent = "Your skeleton has been infused with indestructible metal, reducing limb damage.";
        document.getElementById('Adamantium Skeleton').setAttribute('data-active','True');
        break;
      case "cannibal":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Cannibal.gif') }}";
        pipBoyText.textContent = "Feast on mortal flesh to heal your wounds! Eating human corpses restores Health.";
        document.getElementById('Cannibal').setAttribute('data-active','True');
        break;
      case "ghoulish":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Lead_Belly.gif') }}";
        pipBoyText.textContent = "Sure, you're still human - on the outside! Radiation now regenerates your lost Health.";
        document.getElementById('Ghoulish').setAttribute('data-active','True');
        break;  
      case "solar powered":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sun_Kissed.gif') }}";
        pipBoyText.textContent = "Catch some rays!";
        document.getElementById('Solar Powered').setAttribute('data-active','True');
        break;
      case "cap collector":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Cap_Collector_.gif') }}";
        pipBoyText.textContent = "You've mastered the art of the deal! Buying and selling prices at vendors are better.";
        document.getElementById('Cap Collector').setAttribute('data-active','True');
        break;
      case "black widow":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sun_Kissed.gif') }}";
        pipBoyText.textContent = "You're charming... and dangerous.";
        document.getElementById('Black Widow').setAttribute('data-active','True');
        break;
      case "lone wanderer":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Lone_Wanderer.gif') }}";
        pipBoyText.textContent = "Who needs friends, anyway?";
        document.getElementById('Lone Wanderer').setAttribute('data-active','True');
        break;
      case "attack dog":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sun_Kissed.gif') }}";
        pipBoyText.textContent = "Your faithful canine companion can hold an enemy, giving you a greater chance to hit them in V.A.T.S.";
        document.getElementById('Attack Dog').setAttribute('data-active','True');
        break;
      case "animal friend":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "Commune with beasts!";
        document.getElementById('Animal Friend').setAttribute('data-active','True');
        break;
      case "local leader":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "	As the ruler everyone turns to, you are able to establish supply lines between your workshop settlements.";
        document.getElementById('Local Leader').setAttribute('data-active','True');
        break; 
      case "party girl":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/partygirl.gif') }}";
        pipBoyText.textContent = "	Nobody has a good time like you! There's no chance you'll get addicted to alcohol.";
        document.getElementById('Party Girl').setAttribute('data-active','True');
        break; 
      case "inspirational":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "	Because you lead by example, your companion does more damage in combat, and cannot hurt you.";
        document.getElementById('Inspirational').setAttribute('data-active','True');
        break;
      case "wasteland whisperer":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "Master the post-apocalypse! With your gun, aim at any Wasteland creature below your level and gain a chance to pacify it.";
        document.getElementById('Wasteland Whisperer').setAttribute('data-active','True');
        break;  
      case "intimidation":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "Time to show everyone who's boss!";
        document.getElementById('Intimidation').setAttribute('data-active','True');
        break;    
      case "v.a.n.s.":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Animal_Friend.gif') }}";
        pipBoyText.textContent = "Let Vault-Tec guide you!";
        document.getElementById('V.A.N.S.').setAttribute('data-active','True');
        break;  
      case "medic":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Medic.gif') }}";
        pipBoyText.textContent = "Is there a doctor in the house? ";
        document.getElementById('Medic').setAttribute('data-active','True');
        break;  
      case "gun nut":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/gunnut.gif') }}";
        pipBoyText.textContent = "Shoot first, kill first.";
        document.getElementById('Gun Nut').setAttribute('data-active','True');
        break;
      case "hacker":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/gunnut.gif') }}";
        pipBoyText.textContent = "Knowledge of cutting-edge computer encryption allows you to hack Advanced terminals.";
        document.getElementById('Hacker').setAttribute('data-active','True');
        break;    
      case "scrapper":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Scrapper_.gif') }}";
        pipBoyText.textContent = "Waste not, want not!";
        document.getElementById('Scrapper').setAttribute('data-active','True');
        break;    
      case "science!":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/scientist.gif') }}";
        pipBoyText.textContent = "Take full advantage of advanced technology.";
        document.getElementById('Science!').setAttribute('data-active','True');
        break;    
      case "chemist":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/gunnut.gif') }}";
        pipBoyText.textContent = "Any chems you take lastlonger. Far out.";
        document.getElementById('Chemist').setAttribute('data-active','True');
        break;
      case "robotics expert":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Robotics_Expert.gif') }}";
        pipBoyText.textContent = "Machines will always serve humans, if you have anything to say about it.";
        document.getElementById('Robotics Expert').setAttribute('data-active','True');
        break; 
      case "nuclear physicist":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/gunnut.gif') }}";
        pipBoyText.textContent = "You've learned to split the atom... and command it.";
        document.getElementById('Nuclear Physicist').setAttribute('data-active','True');
        break; 
      case "nerd rage!":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Nerd_Rage.gif') }}";
        pipBoyText.textContent = "Genius. Is. ANGRY!";
        document.getElementById('Nerd Rage!').setAttribute('data-active','True');
        break;
      case "gunslinger":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/gunslinger.gif') }}";
        pipBoyText.textContent = "Channel the spirit of the old west!";
        document.getElementById('Gunslinger').setAttribute('data-active','True');
        break;     
      case "commando":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/commando.gif') }}";
        pipBoyText.textContent = "Rigorous combat training means automatic weapons do more damage";
        document.getElementById('Commando').setAttribute('data-active','True');
        break;     
      case "sneak":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Sneak.gif') }}";
        pipBoyText.textContent = "Become whisper, become shadow.";
        document.getElementById('Sneak').setAttribute('data-active','True');
        break;     
      case "mister sandman":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Nerd_Rage.gif') }}";
        pipBoyText.textContent = "As an agent of death, you can instantly kill a sleeping person";
        document.getElementById('Mister Sandman').setAttribute('data-active','True');
        break;
      case "action girl":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Action_Girl.gif') }}";
        pipBoyText.textContent = "There's no time to waste!";
        document.getElementById('Action Girl').setAttribute('data-active','True');
        break;
      case "moving target":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Moving_Target.gif') }}";
        pipBoyText.textContent = "They can't hurt what they can't hit!";
        document.getElementById('Moving Target').setAttribute('data-active','True');
        break;
      case "ninja":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Ninja.gif') }}";
        pipBoyText.textContent = "Trained as a shadow warrior, your ranged sneak attacks do more damage.";
        document.getElementById('Ninja').setAttribute('data-active','True');
        break;
      case "quick hands":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Quick_Hands.gif') }}";
        pipBoyText.textContent = "In combat, there's no time to hesitate!";
        document.getElementById('Quick Hands').setAttribute('data-active','True');
        break;   
      case "blitz":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Ninja.gif') }}";
        pipBoyText.textContent = "Find the gap and make the tackle!";
        document.getElementById('Blitz').setAttribute('data-active','True');
        break;   
      case "gun fu":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Gun_Fu.gif') }}";
        pipBoyText.textContent = "You've learned to apply ancient martial arts to gunplay!";
        document.getElementById('Gun Fu').setAttribute('data-active','True');
        break;
      case "fortune finder":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Fortune_Finder.gif') }}";
        pipBoyText.textContent = "You've learned to discover the Wasteland's hidden wealth, and discover more bottle caps in containers.";
        document.getElementById('Fortune Finder').setAttribute('data-active','True');
        break;             
      case "scrounger":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Scrounger.gif') }}";
        pipBoyText.textContent = "You know just how to scavenge to keep the fight going, and find more ammunition in containers.";
        document.getElementById('Scrounger').setAttribute('data-active','True');
        break;             
      case "bloody mess":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/bloodymess.gif') }}";
        pipBoyText.textContent = "Bonus damage means enemies will sometimes explode into a gory red paste. Watch out for flying eyeballs!";
        document.getElementById('Bloody Mess').setAttribute('data-active','True');
        break;             
      case "mysterious stranger":
        pipBoyImage.src = "{{ url_for('static', filename='/statimages/perkimages/Mysterious_Stranger.gif') }}";
        pipBoyText.textContent = "Who is he? Why does he help? Who cares!";
        document.getElementById('Mysterious Stranger').setAttribute('data-active','True');
        var mysteriousStrangerSound = new Audio("{{ url_for('static', filename='ms.mp3') }}");
        mysteriousStrangerSound.play();
        break;                       
      }}
  for (var i = 0; i < buttonElements.length; i++) {
    buttonElements[i].addEventListener("click", function() {
    updateImage(this);});}});
</script>

{% endblock %}