{% extends 'template.html' %}

{% block content %}

<div class=" column container">
  <div class="column vbuttons">
        <a href="#" id="UraniumFever" onclick="playRandomSong(this)">Diamond City Radio</a>
        <a href="#" id="UraniumFever" onclick="playRandomVegasSong(this)">Radio New Vegas</a>
        <a href="#" onclick="toggleButton(this)">Galaxy News Radio</a>
        <a href="#" onclick="toggleButton(this)">Spotify Wasteland Mix</a>

    </div>
<div class="column image-container2">
  <img src="{{ url_for('static', filename='radiowaves.gif') }}" alt="pipBoy">
</div>
</div>
<audio id="player" src="" controls style="display: none;"></audio>
<script>

function playRandomSong(button) {
  var songList = ["UraniumFever.mp3", "UraniumRock.mp3", "AtomBombBaby.mp3"]; // Replace with your song filenames
  var randomSong;

  do {
    randomSong = songList[Math.floor(Math.random() * songList.length)];
  } while (randomSong === currentSong);

  var player = document.getElementById("player");
  player.src = "static/radio/diamond/" + randomSong;

  currentSong = randomSong;

  // Add 'active' class to the clicked button
  button.classList.add('active');

  player.load();
  player.play();

  // Add event listener to handle the end of the song
  player.addEventListener('ended', playRandomSong);
}

function playRandomVegasSong(button) {
  var songList = ["bigiron.mp3", "bluemoon.mp3", "kickinthehead.mp3", "heartachesbythenumber.mp3"]; // Replace with your song filenames
  var randomSong;

  do {
    randomSong = songList[Math.floor(Math.random() * songList.length)];
  } while (randomSong === currentSong);

  var player = document.getElementById("player");
  player.src = "static/radio/vegas/" + randomSong;

  currentSong = randomSong;

  // Add 'active' class to the clicked button
  button.classList.add('active');

  player.load();
  player.play();

  // Add event listener to handle the end of the song
  player.addEventListener('ended', playAnotherRandomSong);
}

function playAnotherRandomSong() {
  playRandomSong(); // Call the playRandomSong function again to play a new song
}

// Assuming currentSong is a global variable initialized to null initially
var currentSong = null;
  function playMusic(button) {
    var player = document.getElementById("player");
    var buttons = document.querySelectorAll('.vbuttons a');

    // Remove 'active' class from all buttons
    buttons.forEach(function(btn) {
      btn.classList.remove('active');
    });

    // Set the player source based on the clicked button's ID
    player.src = "static/radio/diamond/" + button.id + ".mp3";  // Assuming music files are named after button IDs

    // Add 'active' class to the clicked button
    button.classList.add('active');

    player.load(); // Load the audio file
    player.play(); // Play the audio
  }

</script>

{% endblock %}