{% extends 'template.html' %}

{% block content %}
<div class=" column container">
  <div class="column vbuttons">
        <a href="#" id="UraniumFever" onclick="playRandomSong(this)">Diamond City Radio</a>
        <a href="#" onclick="toggleButton(this)">Radio New Vegas</a>
        <a href="#" onclick="toggleButton(this)">Galaxy News Radio</a>
        <a href="#" onclick="toggleButton(this)">Spotify Wasteland Mix</a>

    </div>
<div class="column image-container">
  <img src="{{ url_for('static', filename='radiowaves.gif') }}" alt="pipBoy">
</div>
</div>
<audio id="player" src="" controls style="display: none;"></audio>
<script>

function playRandomSong(button) {
    var songList = ["UraniumFever.mp3", "UraniumRock.mp3", "AtomBombBaby.mp3"];  // Replace with your song filenames
    var randomSong = songList[Math.floor(Math.random() * songList.length)];

    var player = document.getElementById("player");
    player.src = "static/radio/diamond/" + randomSong;  // Assuming music files are in the static folder

    // Add 'active' class to the clicked button
    button.classList.add('active');

    player.load();
    player.play();
  }
  function playMusic(button) {
    var player = document.getElementById("player");
    var buttons = document.querySelectorAll('.vbuttons a');

    // Remove 'active' class from all buttons
    buttons.forEach(function(btn) {
      btn.classList.remove('active');
    });

    // Set the player source based on the clicked button's ID
    player.src = "static/radio/diamond/" + button.id + ".mp3";  // Assuming music files are named after button IDs

    // Add 'active' class to the clicked button
    button.classList.add('active');

    player.load(); // Load the audio file
    player.play(); // Play the audio
  }

</script>
{% endblock %}